--swiftversion 5.6

--exclude **/Sources/**/Generated,vendor,**/Package.swift,Secrets/**

--disable wrapMultiLineStatementBraces
--disable hoistPatternLet
--disable preferForLoop
--disable consistentSwitchCaseSpacing

--commas inline
--ifdef no-indent
--nospaceoperators ...,..<
--stripunusedargs closure-only
--trimwhitespace nonblank-lines
--wraparguments after-first
--wrapparameters after-first
--redundanttype inferred
--emptybraces spaced