--swiftversion 5.6

--exclude ElementX/Sources/Generated,vendor,**/Package.swift

--disable wrapMultiLineStatementBraces
--disable hoistPatternLet

--commas inline
--ifdef no-indent
--nospaceoperators ...,..<
--stripunusedargs closure-only
--trimwhitespace nonblank-lines
--wraparguments after-first
--wrapparameters after-first
--redundanttype inferred
--emptybraces spaced