<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Info.plist
   ElementX

   Created by Stefan Ceriu on 24.02.2022.
   Copyright (c) 2022 Element. All rights reserved.
-->
<plist version="1.0">
<dict/>
</plist>
