<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Licenses</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/DeviceKit</string>
			<key>Title</key>
			<string>DeviceKit</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/DSWaveformImage</string>
			<key>Title</key>
			<string>DSWaveformImage</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/DTCoreText</string>
			<key>Title</key>
			<string>DTCoreText</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/DTFoundation</string>
			<key>Title</key>
			<string>DTFoundation</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/emojibase-bindings</string>
			<key>Title</key>
			<string>emojibase-bindings</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/GZIP</string>
			<key>Title</key>
			<string>GZIP</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/KeychainAccess</string>
			<key>Title</key>
			<string>KeychainAccess</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/Kingfisher</string>
			<key>Title</key>
			<string>Kingfisher</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/KZFileWatchers</string>
			<key>Title</key>
			<string>KZFileWatchers</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/LoremSwiftum</string>
			<key>Title</key>
			<string>LoremSwiftum</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/LRUCache</string>
			<key>Title</key>
			<string>LRUCache</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/maplibre-gl-native-distribution</string>
			<key>Title</key>
			<string>maplibre-gl-native-distribution</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/matrix-analytics-events</string>
			<key>Title</key>
			<string>matrix-analytics-events</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/matrix-rust-components-swift</string>
			<key>Title</key>
			<string>matrix-rust-components-swift</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/ogg-swift</string>
			<key>Title</key>
			<string>ogg-swift</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/opus-swift</string>
			<key>Title</key>
			<string>opus-swift</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/posthog-ios</string>
			<key>Title</key>
			<string>posthog-ios</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/Prefire</string>
			<key>Title</key>
			<string>Prefire</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/sentry-cocoa</string>
			<key>Title</key>
			<string>sentry-cocoa</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/SFSafeSymbols</string>
			<key>Title</key>
			<string>SFSafeSymbols</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/swift-algorithms</string>
			<key>Title</key>
			<string>swift-algorithms</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/swift-collections</string>
			<key>Title</key>
			<string>swift-collections</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/swift-numerics</string>
			<key>Title</key>
			<string>swift-numerics</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/swift-ogg</string>
			<key>Title</key>
			<string>swift-ogg</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/swift-snapshot-testing</string>
			<key>Title</key>
			<string>swift-snapshot-testing</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/swift-syntax</string>
			<key>Title</key>
			<string>swift-syntax</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/SwiftState</string>
			<key>Title</key>
			<string>SwiftState</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/SwiftUI-Introspect</string>
			<key>Title</key>
			<string>SwiftUI-Introspect</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Packages/Version</string>
			<key>Title</key>
			<string>Version</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Acknowledgements</string>
</dict>
</plist>
