name: Danger CI

on:
  pull_request:
    types: [ labeled, synchronize, opened, reopened ]

jobs:
  build:
    name: Danger
    runs-on: ubuntu-latest
    timeout-minutes: 15

    concurrency:
      # Only allow a single run of this workflow on each branch, automatically cancelling older runs.
      group: ${{ format('danger-ci-{0}', github.ref) }}
      cancel-in-progress: true

    steps:
      - uses: actions/checkout@v1
      - name: Danger
        uses: danger/swift@2dc204311befdf33eae93dec92a1f059ca673425 #v3.22.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
