name: Danger CI

on: [pull_request]

jobs:
  build:
    # Don't run for forks as secrets are unavailable.
    if: github.event.pull_request.head.repo.full_name == github.repository
    runs-on: ubuntu-latest
    name: Danger
    steps:
      - uses: actions/checkout@v3

      - uses: actions/cache@v3
        with: 
          path: ~/.danger-swift
          key: danger-swift-cache-key

      - name: Danger
        uses: docker://ghcr.io/danger/danger-swift-with-swiftlint:3.12.3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}