name: Open Translations PR
on:
  schedule:
    # At 03:00 on every Monday UTC
    - cron: '0 3 * * 1'
  workflow_dispatch:

jobs:
  open-translations-pr:
    runs-on: macos-15
    timeout-minutes: 15
    
    # Skip in forks
    if: github.repository == 'element-hq/element-x-ios'
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup environment
        run: 
          source ci_scripts/ci_common.sh && setup_github_actions_translations_environment

      - name: Download All Translations
        run: swift run tools download-strings --all-languages

      - name: Verify Translations
        run: swift run tools locheck
        
      - name: SAS Translations
        run: swift run tools generate-sas

      - name: Create PR for Translations
        uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7.0.11
        with:
          token: ${{ secrets.ELEMENT_BOT_TOKEN }}
          author: ElementRobot <releases@riot.im>
          commit-message: Translations update
          title: Translations update
          body: |
            - Translations update
          labels: pr-i18n
          branch: translations/update
          base: develop
          add-paths: |
            *.strings
            *.stringsdict
            **/Strings.swift
